* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    color: white;
  }
  
  p {
    margin: 10px;
    color: rgb(65, 76, 87);
  }
  
  .header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(22, 33, 33);
  }
  
  .header-img {
    width: 55px;
    height: 56px;
  }
  
  .header-title {
    color: white;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  
  .header-login {
    font-size: 0.9em;
  }
  
  .text-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .gallery-card {
    display: block;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(243, 243, 243);
    box-shadow: 1px 1px 1px 1px rgb(216, 216, 216);
  }
  
  .gallery-card h4 {
    justify-content: center;
    text-align: center;
    margin: 5px;
    color: gray;
  }
  
  .gallery-card img {
    width: 160px;
    height: 150px;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container img {
    width: 20px;
    height: auto;
    margin: 5px;
  }
  