
div:hover {
  border: 3px solid slateblue;
}

h3 {
  color: black;
  font-size: 1.5em;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
}

.amarelo {
  background-color: yellow;
}

.amarelo h3 {
  font-style: italic;
}

.roxo {
  background-color: purple;
}

.vermelho {
  background-color: red;
  height: 100px;
}

.vermelho h3 {
  font-style: italic;
}

.verde {
  background-color: green;
}

.cinza {
  background-color: gray;
}

.cinza h3 {
  font-style: italic;
}