
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: auto;
}

header>h1 {
  color: #535bf2;
  padding: 20px 100px;
  text-align: center;
}

.container {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

section {
  width: 45%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 50px;
  border: 1px solid #535bf2;
  border-radius: 8px;
  align-items: center;
}

aside {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  border: 1px solid #535bf2;
  border-radius: 8px;
  align-items: center;
}

aside>label {
  padding: 3px 0;
}

.button {
  margin: 10px;
  padding: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
