.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 155px;
  }
  
  .baloon {
    position: absolute;
    left: 400px;
    top: 220px;
  }
  
  .speach {
    font-size: 25px;
    float: right;
  
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 370px;
    left: 700px;
  }